:root {
    --primary-color: slategray;
    --secondary-color: slateblue;
    --light-bg: #eee;
    --text-color: #333;
    --border-color: #000;
    --shadow-color: gray;
    --nav_link-color: blue;
    --image-width: 150px;
    --aside-image-width: 200px;
    --main-width: 840px;
    --padding_spacing: 10px;
    --margin: 1rem;
    --border-radius: 1px;
}



main{
    max-width: var(--main-width);
}

main img{
    width: var(--image-width);
    height: auto;
    border: var(--border-radius) solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
    margin: 0 0 var(--margin);
}

nav{
    background-color: var(--primary-color);
    padding: var(--padding_spacing);
}

nav a{
    color: blue;
    background-color: whitesmoke;
    padding: var(--padding_spacing);
    display: block;
}

h1{
    color: var(--primary-color);
}

aside{
    width: 20rem;
    margin: var(--margin);
    border: var(--border-radius) solid rgb(0 0 0 / 0.2);
    padding: 1em;
    background-color: var(--light-bg);
    color: var(--text-color);
    position: relative;
    
    
}

aside img{
    width: var(--aside-image-width);
    height: auto;
    
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: var(--border-radius) solid var(--border-color);
    text-align: center;
}